body {
    
    text-align: center;
    color:black;
    background-image:url(doodles.png);
}
#box{
   
}

h2{
    color: red;
}
#WGG{
    color:rebeccapurple;
     font-size: 300%;
}
#game{
    color: red;
}
#keypress{
    color: red;
}
#GsRemaining{
    color: red;
}
#LettersAlreadyGuessed{
    color: red;
}
#score{
    color: red;
}
#losses{
    color: red;
}
#topic{
   color:blue;
   font-style: italic;
   font-size: 300%;
   }