body {
    /* background-color: black; */
    text-align: center;
    color:white;
    background-image:url(WordGuess.jpg);
}

h2{
    color: red
}
#game{
    color: red;
}
#keypress{
    color: red;
}
#GsRemaining{
    color: red;
}
#LettersAlreadyGuessed{
    color: red;
}