body {
    
    text-align: center;
    color:white;
    background-image:url(WordGuess.jpg);
}
#box{
    background-color: black;
}

h2{
    color: red
}
#game{
    color: red;
}
#keypress{
    color: red;
}
#GsRemaining{
    color: red;
}
#LettersAlreadyGuessed{
    color: red;
}
#score{
    color: red;
}